.inhalt {
    margin-top: 80px;
}
.profilbild_image {
    border-radius: 150px;
    margin-bottom: 20px;
}

.artikel-metadata {
    margin-top: 20px;
    
}

.artikelbild {
    margin-top: 20px;
    margin-bottom: 10px;
}

.bildunterschrift {
    margin-bottom: 20px;
}

.ersterartikel {
    margin-top: 70px;
}

.geb {
     
                    font-size: 50px;
                    font-family: 'Arial';
                    color: 
                    font-style: italic;
                    font-weight: inherit;
                    font-variant: normal;
    background-color:  pink
}

